doc/* linguist-vendored
__pycache__/* linguist-vendored
lib/* linguist-vendored
plugins/* linguist-vendored
qml/* linguist-vendored
ui/* linguist-vendored
translations/* linguist-vendored
qml.qrc linguist-vendored
qrc_qml.cpp linguist-vendored
qrc_qml.o linguist-vendored
qt.conf linguist-vendored
moc_backend.cpp linguist-vendored
moc_backend.o linguist-vendored
moc_fileio.cpp linguist-vendored
moc_fileio.o linguist-vendored
moc_predefs.h linguist-vendored
nnui.pro.user linguist-vendored
Makefile linguist-vendored
nnui.pro linguist-vendored
